body {
  background-color: white
    
}
.fond {
  background: url('monaco.jpg')center/cover;
  height: 280px;
}
header {
    display: flex;
    justify-content: space-between; /* espace entre gauche et droite */
    align-items: center;            /* centrer verticalement */
    padding: 10px 20px;
}

nav a {
    margin-left: 20px; /* espacement entre les liens */
}

h1 {
  color : #D4AF37; 
  text-align: center;
}
h2 {
  color : #D4AF37;
  text-align: center;
}
h4 {
  color : white;
}

h3 {
  color :black;

}
h5{
  color:black;
}


nav a {
margin-left: 20px;
font-weight: bold;
}

.photo {
  margin-right: 23.5px;
  margin-left: 23.5px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, transparent, black)
  

}
.imagecontener {
    position: relative;
    display: inline-block;
}


.imagecontener img {
    display: block;
}


.imagecontener .text {
    position: absolute;
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%);
    
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black; 
}

.text {
    color:white;
    position : fixed;
}

.Ville{
  display:block;
  color:white;
  

}
.text  a:hover {
  transform:scale(1.3) translateY(-10px);
  background-color: var(--main--color);
  color:var(--bg--color);
  box-shadow: 0 0 25px var(--main--color);
}

.roulette {
  text-align:left

}

.nav{
  text-align:right;
}
.rotate {
    animation: spin 0.6s linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* --- STYLES DU MENU PRINCIPAL --- */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul {
  display: flex; 
  text-align: center;
}

nav > ul > li {
  position: relative; 
  margin-left: 20px;
}

/* --- STYLES DES LIENS --- */
li a {
  text-decoration: none;
  color : black;
  display: block; 
  padding: 10px 15px; 
}

nav a {
    font-weight: bold;
}

nav > ul > li:hover > a {
  color :#D4AF37;
}

/* --- STYLES DU MENU DÉROULANT --- */

.menu-deroulant > a:after {
  content : ">";
  font-size: 15px;
  margin-left: 7px;
  display : inline-block;
  transition: transform 0.2s linear; 
}


.menu-deroulant:hover > a:after {
  transform: rotate(90deg);
}


.sous-menu{
  list-style-type: none;
  position: absolute;
  top: 100%; 
  left: 0;
  min-width: 200px;
  background-color: white; 
  z-index: 10;
  
  max-height: 0; /* CLÉ : Cache le menu */
  overflow: hidden; 
  
  
  transition: max-height 0.8s ease-in-out, border-top 0.8s;
  
  border-radius:  0 0 5px 5px;
}


/* Apparition du SOUS-MENU au survol */
.menu-deroulant:hover > .sous-menu{
  max-height: 50em; /* Rend le sous-menu visible */
  border-top:3px solid #D4AF37;
}

/* Style des LIENS du sous-menu */
.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items:center;
  display:flex;
}


/* --- STYLES AU SURVOL DU SOUS-MENU --- */
.sous-menu >li:hover{
  background-color:#D4AF37;
}

.sous-menu >li:hover>a{
  color:black;
}